<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999387589830-2ahol4frbb8rqbg2voc7v74cuqkgcovn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999387589830-2ahol4frbb8rqbg2voc7v74cuqkgcovn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999387589830-trjjdqfte5gjdoa7jg27mqqucorpnvgu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8fDSAR8eKT86nxrR1PjsZVTn1qMo5tw</string>
	<key>GCM_SENDER_ID</key>
	<string>999387589830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajmoro.fluttersocial</string>
	<key>PROJECT_ID</key>
	<string>flutter-social-media-6d4e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-social-media-6d4e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999387589830:ios:0c6e00cefdc88a6b97fbc7</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-social-media-6d4e7.firebaseio.com</string>
</dict>
</plist>